<div class="home-header">
  <div class="title">
    your tv show journal is here
  </div>
  <div class="subtitle">
    <p>always keep track of your favorite tv shows</p>
    <p>never forget where you left off a tv show</p>
  </div>
</div>
