.devise-form {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  .align-center {
    display: flex;
    margin: auto;
  }
}

.links {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  align-content: center;
  margin-top: 10px;
  .link {
    color: white;
    font-size: small;
  }
}

.account {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin: 30px auto 0;
  width: 70%;
}

.margin-top {
  margin-top: 20px;
}

.long-input {
  width: 360px;
}

.red-bg {
  background-color: red;
}
