<div class="row">
  <% flash.each do |type, msg| %>
    <div class="alert flash-msg flash-<%= type %>">
      <% if msg.is_a? Array %>
        <% msg.each { |m| %><p><%= m.downcase %></p><%}
          else %>
            <%= msg.downcase %>
          <% end %>
    </div>
  <% end %>
</div>
